@import url('https://fonts.googleapis.com/css2?family=Anton&family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');

body {
    background-color: white;
}

h1 {
    display: flex;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
}

.grid-item-1 { grid-area: header; }
.grid-item-2 { grid-area: menu; }
.grid-item-3 { grid-area: main; }
.grid-item-4 { grid-area: right; }
.grid-item-5 { grid-area: footer; }

.wrapper {
    display: grid;
    grid-template-areas:
    'header header header header header header'
    'menu main main main right right'
    'menu footer footer footer footer footer';
    background-color: rgb(255, 246, 208);
    border: 1px black solid;
    grid-template-rows: 80px 500px;

}

.grid-item-1, .grid-item-2, .grid-item-3, .grid-item-4, .grid-item-5 {
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: wheat;
    font-family: 'Roboto', sans-serif;
}

li {
    float: left;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    transition: all .5s ease;
    background-color : white;

}

.grid-item-4{
    background-image: url("../img/andra_bilder/laura-college-K_Na5gCmh38-unsplash.jpg");
    background-size: cover;
}

.grid-item-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10%;
    margin: 0%;
}

.grid-item-3 {
    background-image: url("../img/andra_bilder/jason-leung-poI7DelFiVA-unsplash.jpg");
    background-size: auto;
}

.grid-item-1 {
    background-image: url("../img/andra_bilder/julian-berengar-solter-EDNn9_TM4W0-unsplash.jpg");
    color: aliceblue;
    font-family: 'Noto Serif', serif;
}