@import url('https://fonts.googleapis.com/css2?family=Anton&family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');


body {
    background-color: white;
}

h1 {
    display: flex;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
}

.grid-item-1 { grid-area: header; }
.grid-item-2 { grid-area: menu; }
.grid-item-3 { grid-area: main; }
.grid-item-4 { grid-area: right; }
.grid-item-5 { grid-area: footer; }

.wrapper {
    display: grid;
    grid-template-areas:
    'header header header header header header'
    'menu main main main right right'
    'menu footer footer footer footer footer';
    background-color: rgb(255, 246, 208);
    border: 1px black solid;
    grid-template-rows: 80px 500px;

}

.grid-item-1, .grid-item-2, .grid-item-3, .grid-item-4, .grid-item-5 {
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: wheat;
    font-family: 'Roboto', sans-serif;
}

li {
    float: left;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    transition: all .5s ease;
    background-color : white;

}

.grid-item-4{
    background-image: url("../img/andra_bilder/laura-college-K_Na5gCmh38-unsplash.jpg");
    background-size: cover;
    opacity: 0,2;

}

.grid-item-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10%;
    margin: 0%;   
}

.grid-item-3 {
    background-image: url("../img/andra_bilder/jason-leung-poI7DelFiVA-unsplash.jpg");
    background-size: auto;
}

.grid-item-1 {
    background-image: url("../img/andra_bilder/julian-berengar-solter-EDNn9_TM4W0-unsplash.jpg");
    color: aliceblue;
    font-family: 'Noto Serif', serif;
}

.grid-item-5 {
    font-size: xx-small;
}

/*.boxed {
    display: flex;
    position: relative;
    max-width: 800px;
    margin: 0 auto;
   
  
    border: 2px solid rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.749);
    padding: 20px;
}*/



/*.maträtt1 { grid-area: maträtt1; }
.maträtt2 { grid-area: maträtt2; }
.maträtt3 { grid-area: maträtt3; }
.maträtt4 { grid-area: maträtt4; }
.maträtt5 { grid-area: maträtt5; }
.maträtt6 { grid-area: maträtt6; }*/

  .wrapper2 {
    display: grid;
    justify-content: space-evenly;
    /*grid-template-areas: 
    'maträtt1 maträtt1 maträtt2 maträtt2 maträtt3 maträtt3'
    'maträtt4 maträtt4 maträtt5 maträtt5 maträtt6 maträtt6';
    background-color: rgb(255, 246, 208);*/
    border: 1px black solid;
    grid-template-rows: 374px 374px;
    grid-template-columns: 300px 300px 300px;
    background-color: rgb(255, 246, 208);

  }

.maträtt1 {
    background-image: url("../img/andra_bilder/david-v-zGeax2IzgVw-unsplash\ \(1\).jpg");
    background-repeat: no-repeat;

}

.maträtt2 {
    background-image: url("../img/andra_bilder/bruna-branco-t8hTmte4O_g-unsplash.jpg");
    background-repeat: no-repeat;

}

.maträtt3 {
    background-image: url("../img/andra_bilder/sahand-hoseini-BMVAYjPf6mU-unsplash.jpg");
    background-repeat: no-repeat;

}
  
.maträtt4 {
    background-image: url("../img/andra_bilder/nadine-primeau--ftWfohtjNw-unsplash.jpg");
    background-repeat: no-repeat;

}

.maträtt5 {
    background-image: url("../img/andra_bilder/victoria-shes-UC0HZdUitWY-unsplash.jpg");
    background-repeat: no-repeat;

}

.maträtt6 {
    background-image: url("../img/andra_bilder/vadim-markin-jR4PDHIuldA-unsplash.jpg");
    background-repeat: no-repeat;

}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

p {
    font-family: 'Roboto', sans-serif;
    
}